@charset "utf-8";
/* CSS Document - Main Stylesheet - base.css */
/* Thad Seaver
Mastercam Color Converter - Feb 2015
Converts Mastercam color numbers to hex values to be used with the new Mastercam color picker in Verify. */
/* Credits: Grid background from www.subtlepatterns.com */

body {
	padding: 0;
	margin: 0;
	font-family: Sans-Serif;
	background-color: #000;
}

#page-wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;
	box-shadow: 0 0 150px 10px #ebebeb;
}

header {
	height: 80px;
	background-color: #555;
	text-align: center;
	line-height: 80px;	
	border-bottom: 2px solid #0080C0;
	box-shadow: inset #0080C0 0 3px 81px -26px;
}

header h1 {
	font-size: 3em;
	margin: 0 0 30px 0;
	color: rgba(0,0,0,0.7);
    text-shadow: 1px 1px 2px rgba(255,255,255,0.2);
}

.mc {
	font-family: Verdana, Geneva, sans-serif;
	font-style: italic;
	font-weight: bold;
	text-transform: uppercase;
}

.cam {
	color: #9b232c;
	margin-right: 10px;
}

#content-wrap {
	position: relative;
	width: 93.75%; /* 900/960 */
	background: url(../images/bg-content.png) repeat;
	padding: 30px 3.125%; /* 30/960 */
}

#start, #end {
	position: relative;
	height: 507px;
	width: 43.66666666666667%; /* 393/900 */
	float: left;
	padding: 20px;
	border: 1px solid #f27f26;
}

#start {
	background: #ebebeb;
	background: -moz-linear-gradient(top,  #ebebeb 0%, #d6d6d6 50%, #ebebeb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(50%,#d6d6d6), color-stop(100%,#ebebeb));
	background: -webkit-linear-gradient(top,  #ebebeb 0%,#d6d6d6 50%,#ebebeb 100%);
	background: -o-linear-gradient(top,  #ebebeb 0%,#d6d6d6 50%,#ebebeb 100%);
	background: -ms-linear-gradient(top,  #ebebeb 0%,#d6d6d6 50%,#ebebeb 100%);
	background: linear-gradient(to bottom,  #ebebeb 0%,#d6d6d6 50%,#ebebeb 100%);
}

#end {
	background: #ebebeb;
	background: url(../images/bg-end.jpg) no-repeat center 138px;
	background: url(../images/bg-end.jpg) no-repeat center 138px, -moz-linear-gradient(top,  #ebebeb 0%, #d6d6d6 50%, #ebebeb 100%);
	background: url(../images/bg-end.jpg) no-repeat center 138px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(50%,#d6d6d6), color-stop(100%,#ebebeb));
	background: url(../images/bg-end.jpg) no-repeat center 138px, -webkit-linear-gradient(top,  #ebebeb 0%,#d6d6d6 50%,#ebebeb 100%);
	background: url(../images/bg-end.jpg) no-repeat center 138px, -o-linear-gradient(top,  #ebebeb 0%,#d6d6d6 50%,#ebebeb 100%);
	background: url(../images/bg-end.jpg) no-repeat center 138px, -ms-linear-gradient(top,  #ebebeb 0%,#d6d6d6 50%,#ebebeb 100%);
	background: url(../images/bg-end.jpg) no-repeat center 138px, linear-gradient(to bottom,  #ebebeb 0%,#d6d6d6 50%,#ebebeb 100%);
	background-size: auto;
	margin-left: 3.333333333333333%; /* 32/960 */
}

#end p {
	margin-top: 0;
}

form > input {
	width: 30px;
}

button#convert {
	float: right;
	font-size: 1em;
}

#or {
	margin-left: 82px;
}

button#copy {
	position: absolute;
	top: 95px;
}

#result {
	font-size: 1.7em;
	font-weight: bold;
}

#error {
	position: absolute;
	top: 155px;
	left: 180px;
	width: 115px;
	background-color: #ffdc74;
	padding: 5px;
	border: 1px solid #f27f26;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	transition: .2s ease-out;
}

#error:after {
	content: "";
	position: absolute;
	left: 26%;
	top: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #f27f26;
}

.error-enter {
	-webkit-transform: translate(0px, -100px);
	-moz-transform: translate(0px, -100px);
	-o-transform: translate(0px, -100px);
	-ms-transform: translate(0px, -100px);
	transform: translate(0px, -100px);
}

#error p {
	font-size: .7em;
	margin: 0;
}

.round {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.round-top {
	-webkit-border-radius: 10 10px 0 0;
  	moz-border-radius: 10px 10px 0 0;
  	border-radius: 10px 10px 0 0;
}

.round-bottom {
	-webkit-border-radius: 0 0 10px 10px;
  	moz-border-radius: 0 0 10px 10px;
  	border-radius: 0 0 10px 10px;
}

footer {
	height: 30px;
	margin: 0 auto;
	background: url(../images/bg-footer.jpg) no-repeat;
	border-top: 2px solid #0080C0;
	-moz-box-shadow: inset #0080C0 0 5px 25px -12px;
	-webkit-box-shadow: inset #0080C0 0 5px 25px -12px;
	box-shadow: inset #0080C0 0 5px 25px -12px;
}

footer p {
	margin: 0 0 0 30px;
	line-height: 30px;
}

/********* CHANGES TO SPECTRUM.CSS **************/

.sp-container {
    border: solid 1px #f27f26;
}

.sp-palette, .sp-thumb-el:hover, .sp-palette, .sp-thumb-el.sp-thumb-active {
    border-color: #f27f26;
}

.sp-palette .sp-thumb-el {
	margin: 2px;
}
.sp-picker-container, .sp-palette-container {
    padding: 19px 19px 300px;
}